* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Dashboard {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.swipe-card {
  border: 3px solid #002F6C;
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.swipe-card h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.swipe-card label {
  font-weight: 600;
  display: block;
  margin-top: 15px;
}

.swipe-card input {
  color: black;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
}

.swipe-card input:focus {
  border-color: none;
  outline: none;
  color: none;
}

.swipe-button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  background: #1a73e8;
  color: white;
  font-size: 16px;
  border-radius: 6px;

}

.swipe-button:hover {
  background: #1558b0;
}

.swipe-message {
  margin-top: 15px;
  text-align: center;
  font-weight: 600;
  color: green;
}