:root {
  color-scheme: light dark;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

button {
  border-radius: 2px;
  border: 1px solid transparent;
  font-family: inherit;
  background-color: #FFDD00;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}
