:root {
  color-scheme: light dark;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

button {
  border-radius: 2px;
  border: 1px solid transparent;
  font-family: inherit;
  background-color: #FFDD00;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}

.card {
    margin-top: 50px;
    max-height: 70vh;
    height: fit-content;
    min-width: 31.5vw;
    background: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}
