
.navbar{
color: white;
background:#002F6C;
width:100%;
border-bottom: 10px solid #FFDD00;
padding: 16px 24px;
}


.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container{
max-width:1200px;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 25px;
}

.logo{
display: flex;
align-items: center;
gap:10px;
}

.logo h1{
font-size: 24px;
}

.nav-links{
display:inline;
margin:0;
padding:0;
}

.nav-links a{
color:white;
margin: 20px;
text-decoration:none;
font-weight:500;
}

.nav-links a:hover{
border-bottom:2px solid #FFC72C;
}

.active{
border-bottom:2px solid #FFC72C;
}

.nav-user{
display:flex;
align-items:center;
gap:10px;
}

.avatar{
width:30px;
height:30px;
background:#FFC72C;
color:#003087;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
}
