.toast-container {
  position: fixed;
  bottom: 40px;
  left: 20px;
  max-height: 76vh;
  display: flex;
  flex-direction: column; 
  gap: 12px;
  overflow-y: hidden;
  z-index: 9999;
}

.toast {
  position: relative;
  min-width: 260px;
  max-width: 320px;

  padding: 14px 16px;

  border-radius: 10px;

  background: white;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);

  animation: slideIn 0.25s ease;
}


.toast-success {
  border-left: 6px solid #14AB00;
}

.toast-error {
  border-left: 6px solid #E80000;
}

.toast-banned {
  border-left: 6px solid #E80000;
  padding-right: 36px;
}

.toast-close {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 4px;
  font-size: 20px;
  line-height: 1;
  color: #999;
  cursor: pointer;
}

.toast-close:hover {
  color: #E80000;
}

.toast-content h4 {
  margin: 0;
  font-size: 16px;
}

.toast-content p {
  margin: 4px 0 0;
  font-size: 14px;
  color: #555;
}

@keyframes slideIn {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}